*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: 'Courier New', Courier, monospace;
}


.container{
    width: 1140px;
    margin: 0 auto;
}


body{
    background-color: #19082e;
    width: 100%;
    background-size: 100%;
    /* padding: 700px 0px; */
}

.navbar{
    background-color: #2a0c52;
    padding: 20px 00px;
    transition: .5s;
}

.navbar:hover{
    box-shadow: 0px 0px 20px 0px rgb(255, 0, 0);
}


.navbar .container{
    align-items: center;
    display: flex;
    justify-content: center;
   }
   
   .nav_list{
    margin-left:auto;
    display: flex;
   }

   .porti{
    display: flex;
    align-items: center;
   }
   
   .porti img{
    width: 25px;
    margin-left: -30%;
   }
   
   .nav_link{
    color: rgb(255, 255, 255);
    transition: .65s;

    margin: 0px 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   }
   .nav_link:hover{
  
    color: rgb(255, 0, 0);
   }



   /* navbar_ended */
   /* ////////////////////////// */



   .main .container{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .main{
    position: relative;
   }


   .my_photo{
    margin-left: -50%;
    margin-top: 10%;
   }

  


   .im2{
    margin-top: -65%;
    width: 250px;
    margin-left: -10%;

   }

    .im3{
    width: 80px;
    position: absolute;
    left: 30%;
    top: 210px;
    }




   .h31{
    margin-top: 30%;
   color: white;
   margin-left: 80%;
   width: 200px;
    font-size: 16px;
   }



   .h3{
    color: #7127BA;
    font-size: 16px;
    margin-top: -6%;
    margin-left: 120%;
   }


   .my_text h4{
    font-size: 17px;
    color: white;
    margin-left: 85%;
    width: 150px;
    margin-top: 40%;
    border-bottom: 1px solid white;
    transition: .5s;
   }

   .my_text h4:hover{
    color: red;
   }


  
     .my_text h2{
        margin-left: 83%;
     }


   .h2{
    display: inline-block;
    font-size: 40px;
    color: white;
    width: 300px;
   }
   

   .h21{
    font-size: 40px;
    margin-top: -15.5%;
    margin-left: 174%;
    color: #7127BA;
   }



   /* .my_text p{
     margin-left: 83%;
     width: 500px;
    color: white;
    font-weight: bold;

 } */



 /* main_ended */
 /* ///////////////////////// */



 .section1 .container{
   display: flex;
   align-items: center;
   justify-content: center;
 }


 .eniger{
  margin-top: 10%;
  margin-left: -20%;
 }



 .eniger_text h2{
    color: white;
    font-size: 40px;
 }



 .eniger_text h3{
    font-size: 25px ;
    color: white;
 }




 .eniger_text p{
    color: white;
    font-size: 20px;
    width: 940px;
    margin-top: 5%;
    line-height: 30px;
    font-weight: 700;
 }